version: "3.8"

services:
  server:
    build: ./server
    container_name: greenhouse_server
    ports:
      - "8000:8000"
    networks:
      - greenhouse_network

  sensor1:
    build: ./sensor
    container_name: sensor1
    command:
      [
        "--sensorId",
        "sensor1",
        "--IP",
        "server",
        "--PORT",
        "8000",
        "--DELAY",
        "1.0",
        "--LATITUDE",
        "45.0",
        "--JITTER",
        "0.3",
      ]
    depends_on:
      - server
    networks:
      - greenhouse_network

  sensor2:
    build: ./sensor
    container_name: sensor2
    command:
      [
        "--sensorId",
        "sensor2",
        "--IP",
        "server",
        "--PORT",
        "8000",
        "--DELAY",
        "1.2",
        "--LATITUDE",
        "50.0",
        "--JITTER",
        "0.15",
      ]
    depends_on:
      - server
    networks:
      - greenhouse_network

  sensor3:
    build: ./sensor
    container_name: sensor3
    command:
      [
        "--sensorId",
        "sensor3",
        "--IP",
        "server",
        "--PORT",
        "8000",
        "--DELAY",
        "1.3",
        "--LATITUDE",
        "55.0",
        "--JITTER",
        "0.2",
      ]
    depends_on:
      - server
    networks:
      - greenhouse_network

networks:
  greenhouse_network:
    driver: bridge
